footer{
    margin-top: 15px;
    padding-top:20px;
    padding-bottom:20px;
    #social-media{
        padding:0;
        margin:0;
        a{
            display:inline-block;
            text-decoration:none;
            padding-right:10px;
            padding-bottom:10px;
        }
    }
}
